apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  labels:
    app: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: ${FULL_IMAGE}
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          ports:
            - containerPort: 8080
          env:
            # ---------- Azure PostgreSQL ----------
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: user-service-kv-secrets
                  key: DB-USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: user-service-kv-secrets
                  key: DB-PASSWORD
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: user-service-kv-secrets
                  key: DB-USERNAME
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: user-service-kv-secrets
                  key: DB-PASSWORD

            # ---------- JPA ----------
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: update

            # ---------- Security ----------
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: user-service-kv-secrets
                  key: JWT-SECRET
            - name: JWT_EXPIRATION
              value: "3600000"

            # ---------- Logging ----------
            - name: LOGGING_LEVEL_COM_SOUFYAN
              value: DEBUG
            - name: LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB
              value: DEBUG

          # ---------- Mount Key Vault Secrets via CSI ----------
          volumeMounts:
            - name: secrets-store
              mountPath: "/mnt/secrets"
              readOnly: true

      volumes:
        - name: secrets-store
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: user-service-kv

---
apiVersion: v1
kind: Service
metadata:
  name: user-service-svc
spec:
  selector:
    app: user-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
