apiVersion: v1
kind: Secret
metadata:
  name: app-secret
type: Opaque
data:
  DB_USERNAME: YWRtaW51c2VyQHBpcGVsaWluZXBvc3RncmVkYg==  # adminuser@pipelinepostgresdb
  DB_PASSWORD: UGFzc3dvcmQxMjM=                              # Password123
  JWT_SECRET: bXlTZWNyZXRLZXlGb3JKV1RUb2tlbkdlbmVyYXRpb25BbmRWYWxpZGF0aW9uMTIzNDU2Nzg5MA==
