apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  DB_URL: jdbc:postgresql://soufyanpipelinepostgresdb.postgres.database.azure.com:5432/userdb?sslmode=require
  DB_USERNAME: adminuser@soufyanpipelinepostgresdb
  DB_PASSWORD: Y2xvdWRoaWxhbAo=
