apiVersion: v1
kind: Secret
metadata:
  name: app-secret
type: Opaque
data:
  DB_USERNAME: YWRtaW51c2VyQHBpcGVsaW5lcG9zdGdyZXNkYg==
  DB_PASSWORD: UGFzc3dvcmQxMjM=
  JWT_SECRET: bXlTZWNyZXRLZXlGb3JKV1RUb2tlbkdlbmVyYXRpb25BbmRWYWxpZGF0aW9uMTIzNDU2Nzg5MA==
