apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: user-service-kv
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    keyvaultName: user-service-kv
    tenantId: 0b578d97-bb35-4c75-863a-9280b97ff86e
    objects: |
      array:
        - |
          objectName: DB-USERNAME
          objectType: secret
        - |
          objectName: DB-PASSWORD
          objectType: secret
        - |
          objectName: JWT-SECRET
          objectType: secret
